{% extends "base.html" %}
{% block title %}Home page{% endblock %}
{% block content %}
<style>
    h1{
        color: darkslateblue;
        font-family: cursive;
        font-variant-caps: small-caps;
        margin: auto;
        text-align: center;
        
        
    }
    body{
        background-color: #f4f4f4;
    }
    
</style>
<h1>Welcome to the Challenge Calendar </h1>
<div >
    <a href="/add">Create a challenge</a>
</div> 
<div>
    <a href="/list">All created Challenges</a>
</div> 
{% endblock %}